{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                            <a class="active">
                                <h4> Chat </h4>
                            </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" >
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    {% for item in chats %}
                                    <a href="{% url 'counsellor_agent:chat_box' item.id %}">
                                        <div class="bg-gray d-flex justify-content-between align-items-center mb-10" style="padding:10px">
                                            <div>
                                                <h3>{{ item.username }}</h3>
                                                {{ item.get_role }}
                                            </div>
                                            <div style="font-size:2em">
                                                >
                                            </div>
    
                                        </div>
                                    </a>

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}