{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="login-register-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                            <a class="active">
                            </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" >
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <h3>Agent Selected</h3>
                                    <p>
                                        Your selected agent is notified with student information
                                    </p>
                                    <a href="{% url 'home' %}">Go Back to Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}